[submodule "glfw3/source"]
	path = glfw3/source
	url = https://github.com/glfw/glfw.git
[submodule "spirv-cross/source"]
	path = spirv-cross/source
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "vulkan-memory-allocator/source"]
	path = vulkan-memory-allocator/source
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "stb/source"]
	path = stb/source
	url = https://github.com/nothings/stb.git
[submodule "gbBase/source"]
	path = gbBase/source
	url = https://github.com/ComicSansMS/GhulbusBase.git
[submodule "gbMath/source"]
	path = gbMath/source
	url = https://github.com/ComicSansMS/GhulbusMath.git
